body
{
    background-color: rgb(50, 57, 122);
    background-image: url("assets/pexels-pixabay-37859.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

header
{
    background-color: rgba(0, 0, 0, 0.199);
    text-align: center;
    top: 0 ;
    position: sticky;
}

.grid
{
    width: 80vh;
    height: 80vh;
    border: solid;
    display: flex;
    flex-wrap: wrap;
}

.grid div
{
    width: 20px;
    height: 20px;
}

.target
{
    background-color: rgb(109, 79, 79);
    border-radius: 10px;
}