body
{
    background-color: rgb(50, 57, 122);
    background-image: url("assets/pexels-pixabay-37859.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

header
{
    background-color: rgba(0, 0, 0, 0.199);
    text-align: center;
    top: 0 ;
    position: sticky;
}
canvas
{
    background-image: url("assets/bg-ocean.jpg");
    opacity: 0.8;
    margin-left: 50vh;
    position: relative;
}